@import '../color';

.content-list {
  .nodata {
    height: 50vh;
    line-height: 50vh;
    text-align: center;
    font-size: 12px;
    color: $mop-text-gray;
  }

  // 面板父元素
  .content-li-wrap {
    min-height: calc(100vh - 244px);
    margin: 0 -15px;
    display: flex;
    flex-flow: row wrap;
  }

  // 面板
  .content-li {
    flex: 1 none none;
    height: 370px;
    margin: 0 15px 30px 15px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;

    // 鼠标未经过前的简介
    .introduce {
      height: 70px;
      bottom: 0;
      border-radius: 0 0 4px 4px;
    }

    .introduce,
    .info {
      width: 100%;
      position: absolute;
      background: #ffffff;
      padding: 10px 20px;
      box-sizing: border-box;

      // 标题
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #2c2c2c;
        font-size: 14px;
        line-height: 1.8;

        cite {
          font-style: normal;
          color: $mop-text-gray;
          font-size: 12px;
        }

        time {
          color: $mop-text-gray;
          font-size: 12px;
          float: right;
        }
      }
    }

    // 鼠标经过时遮罩
    .mask {
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      // transition: 2s;
      border-radius: 0 0 4px 4px;
      font-size: 12px;
      display: none;

      .wrap {
        min-height: 260px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffffff;
      }

      // 预览
      .view {
        a {
          color: #ffffff;
          cursor: pointer;
        }

        div {
          padding: 10px;
          border-radius: 50%;
          border: 1px solid #ffffff;
          text-align: center;
          line-height: 1;
          margin: 0 auto 10px auto;
        }

        // 已关联提示
        .associated {
          margin-top: 30px;
        }

        // 关联的营销事件名称
        .events-name {
          margin-top: 10px;
          font-size: 14px;
          color: $mop-primary;
        }
      }
    }

    // 鼠标经过时介绍信息
    .info {
      //   height: 110px;
      bottom: 40px;
      display: none;

      .describe {
        color: $mop-text-gray;
      }
    }

    // 鼠标经过时的底部操作面板
    .footer {
      width: 100%;
      height: 40px;
      position: absolute;
      bottom: 0;
      background: #ffffff;
      // padding: 10px 0px;
      box-sizing: border-box;
      border-radius: 0 0 4px 4px;
      color: #b5b5b5;
      border-top: 1px solid #f0f0f0;
      display: none;

      // 鼠标经过面板的小图标
      .p:hover {
        color: $mop-deep-primary;
      }

      .p.isSwitch:hover {
        color: $mop-text-gray;
      }

      // 二维码
      .icon-QRcode {
        font-size: 14px;
      }

      // 设置
      .icon-setting,
      .icon-chart {
        font-size: 16px;
        cursor: pointer;
      }

      // 开关 - 开 - 已发布
      .icon-switch-open {
        color: $mop-deep-primary;
        font-size: 18px;
      }

      // 开关 - 开 - 已关联
      .icon-switch-relation {
        color: $mop-text-gray;
      }

      // 开关 - 关 - 草稿
      .icon-switch-close {
        font-size: 18px;
      }

      // 下拉
      // .icon-arrow-down {
      //     font-size: 12px;
      //     border: 1px solid #2c2c2c;
      // }

      .p.isAction:hover {
        .icon-arrow {
          display: block;
          transition: 200ms;
          transform: rotate(180deg);
          color: $mop-deep-primary;
        }

        > ul {
          display: block;
        }
      }

      .p.isAction {
        position: relative;

        > ul {
          position: absolute;
          bottom: 39px;
          right: 10px;
          background: #ffffff;
          border-radius: 4px;
          display: none;
          border: 1px solid #e7e7e7;

          a {
            min-width: 100px;
            display: block;
            padding: 10px 10px;
            color: $mop-text-gray;
            font-size: 12px;
            text-align: left;
            cursor: pointer;
          }

          a:hover {
            color: #ffffff;
            background: $mop-deep-primary;
          }

          > li:first-child a {
            border-radius: 4px 4px 0 0;
          }
        }

        > ul:last-child {
          ul {
            a:hover {
              background: red;
            }

            li:last-child a {
              border-radius: 0px 0px 4px 4px;
            }
          }
        }
      }
    }

    .footer::after {
      content: '';
      clear: both;
      // overflow: hidden;
      // height: 0;
      display: block;
    }

    .footer > .p {
      width: 20%;
      text-align: center;
      float: left;
      padding: 9px 0;
    }

    // .footer > p:first-child {
    //   text-align: left;
    // }

    // .footer > p:last-child {
    //   text-align: right;
    // }
  }

  // 面板经过样式
  .content-li:hover {
    .introduce {
      display: none;
    }

    .mask {
      display: block;
    }

    .info {
      display: block;
    }

    .footer {
      display: block;
    }
  }

  .page {
    // background: $mop-bg;
    text-align: right;
  }

  @media screen and (min-width: 1600px) {
    .content-li {
      width: calc(20% - 30px);
    }
  }

  @media screen and (max-width: 1600px) {
    .content-li {
      width: calc(25% - 30px);
    }
  }
}

// 颜色 提示图标
.icon-info {
  color: $mop-deep-primary;
}

/* ----------------------------------------------  分组管理  ---------------------------------------------------------- */
// 分组管理
.list-screening .screen-bar .screen-bar-nr.screen-bar-padding {
  padding: 15px 30px;
  // background: red;
}

.group-list {
  margin-top: 10px;

  span {
    display: inline-block;
    background: $mop-bg;
    padding: 7px;
    margin-right: 10px;
    color: $mop-text-gray;

    i {
      padding-left: 10px;
      outline: none;
      cursor: pointer;
    }

    i:hover {
      color: $mop-primary;
    }
  }
}
