/*
* 主题颜色表
*/

/* ----------------------------------------- 系统主题色 ------------------------------------------ */

// 系统主题色
$mop-primary: #1f7fb2;

// 深色
$mop-primary-dark: #19668e;

// 浅色
$mop-primary-light: #4c99c1;

/* ----------------------------------------- 系统辅助色 -信息色 ------------------------------------------ */

// 辅助色    常用于主色调的经过色
$mop-deep-primary: #073a89;

// 深色
$mop-deep-primary-dark: #062e6e;

// 浅色
$mop-deep-primary-light: #3961a1;

/* ----------------------------------------- 成功色 ------------------------------------------ */

// 成功色
$mop-success: #12a718;

// 深色
$mop-success-dark: #0e8613;

// 浅色
$mop-success-light: #33ad33;

/* ----------------------------------------- 警告色 ------------------------------------------ */

// 警告色
$mop-waring: #ff8a0c;

// 深色
$mop-waring-dark: #cc6e0a;

// 浅色
$mop-waring-light: #ffa13d;

// 超浅色
$mop-waring-lightest: #fff3e6;

/* ----------------------------------------- 危险色 ------------------------------------------ */

// 危险色
$mop-danger: #ed403c;

// 深色
$mop-danger-dark: #be3330;

// 浅色
$mop-danger-light: #f16663;

/* ----------------------------------------- 背景色 浅灰 ------------------------------------------ */

// 页面背景色
$mop-bg: #e7e7e7;

// 深色
$mop-bg-dark: #dcdddd;

// 浅色
$mop-bg-light: #f5f5f5;

// 浅灰将近白色
$mop-bg-light-white: #f7f8f8;

/* ----------------------------------------- 文字颜色 灰色------------------------------------------ */

// 深灰  常用于文字标题
$mop-text: #0b132e;

// 常用灰色
$mop-text-gray: #9fa0a0;
// $mop-font-content: #9fa0a0;

// 深灰色
$mop-text-gray-deep: #595757;

// 浅灰
$mop-text-gray-light: #b5b5b6;