.login-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: white;

  .login-content {
    z-index: 999;
    width: 100%;
    min-height: 800px;
    position: absolute;

    .backimg {
      background: url("../../assets/images/login/backImg.jpg");
      height: 695px;
      text-align: center;

      .box {
        padding: 0;
        margin: 0;
        background: white;
        display: inline-block;
        margin-top: 194px;
        width: 900px;
        height: 360px;
        box-shadow: 0 2px 5px 0;

        .left {
          vertical-align: top;
          display: inline-block;
          width: 449px;
          border-right-style: solid;
          border-right-width: 1px;
          border-right-color: #dcdfe6;

          &>img {
            margin-top: 10px;
            width: 430px;
            height: 340px;
          }
        }

        .right {
          margin-top: 30px;
          vertical-align: top;
          display: inline-block;
          width: 440px;

          .head {
            margin-bottom: 26px;

            &>p {
              height: 30px;
              font-family: PingFang-SC-Medium;
              font-size: 18px;
              color: #333333;
              text-align: center;

              .password {
                width: 75px;
                display: inline-block;
              }

              .code {
                display: inline-block;
                margin-left: 50px;
                width: 93px;
              }

              p:hover {
                cursor: pointer;
                color: #38609e;
                border-bottom: 1px solid #38609e;
              }

              .form-select {
                color: #38609e;
                border-bottom: 1px solid #38609e;
              }
            }
          }

          .form-word {
            margin-top: 10px;
            margin-left: 20px;
            top: 82px;
            height: auto;
            width: 400px;

            .form-input {
              text-align: left;

              &>img {
                display: inline-block;
                vertical-align: top;
                margin-left: 16px;
                height: 32px;
                width: 80px;
                cursor: pointer;
                border: 1px solid #dcdee2;
                background: url("../../assets/images/login/refresh.png") no-repeat center;
              }
            }

            .word-btn {
              text-align: center;
            }

            .el-input {
              display: block;
              margin-bottom: 10px;
            }

            .word-ivu-btn {
              width: 100%;
              height: 40px;
              border-radius: 3px;

              &:hover {
                background: #2b8bff;
              }
            }
          }

          .form-code {
            margin-left: 20px;
            margin-top: 10px;
            top: 82px;
            height: auto;
            width: 400px;

            .form-input {
              text-align: left;

              img {
                display: inline-block;
                vertical-align: top;
                margin-left: 16px;
                height: 32px;
                width: 80px;
                cursor: pointer;
                border: 1px solid #dcdee2;
                background: url("../../assets/images/login/refresh.png") no-repeat center;
              }

              .code-btn {
                vertical-align: top;
                margin-left: 16px;
                margin-top: 1px;
                height: 30px;
                width: 78px;
                font-family: PingFang-SC-Medium;
                font-size: 12px;
                color: #0073ff;
                letter-spacing: 0;
                text-align: center;
                padding: 0px;
                border: 1px solid #0073ff;
                border-radius: 3px;

                &:hover {
                  background: #e3f0ff;
                }
              }
            }

            .code-disabled {
              border: 1px solid #999999;
              color: #999999;
              background: #e3f0ff;

              &:hover {
                border: 1px solid #999999;
                color: #999999;
                background: #e3f0ff;
              }
            }

            .code-btn {
              text-align: center;
            }

            .ivu-input-wrapper {
              display: block;
              margin-bottom: 10px;
            }

            .code-ivu-btn {
              width: 100%;
              height: 40px;
              border-radius: 3px;

              &:hover {
                background: #2b8bff;
              }
            }
          }
        }
      }
    }

    .markname {
      z-index: 998;
      height: 40px;
      vertical-align: top;
      text-align: center;
      background: white;

      &>img {
        margin-top: 20px;
        height: 15px;
        width: 555px;
      }
    }

    .remark {
      z-index: -1;
      width: 100%;
      height: 40px;
      position: fixed;
      bottom: 20px;

      .center {
        text-align: center;

        &>p {
          font-size: 12px;
          color: #000000;
          line-height: 20px;

        }
      }
    }
  }
}