@import '../color';

.fl {
  float: left;
}

.fr {
  float: right;
}

.audience-list-page {
  width: 100%;

  .cp {
    cursor: pointer;
  }

  .screen-input2 {
    width: 100px;

    > input {
      border-radius: 0;
    }
  }

  .list-content {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;

    .list-bar {
      width: 100%;
      background: #fff;
      box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);

      .not-list {
        line-height: 80px;
        text-align: center;
        color: #666;
      }

      > li {
        width: 100%;
        height: 80px;
        box-sizing: border-box;
        border-bottom: 1px solid #e7e7e7;

        .check-box {
          width: 6%;
          float: left;
          height: 80px;

          .el-checkbox {
            margin: 33px 0 0 35%;
          }
        }

        .l-tit {
          width: 20%;
          line-height: 80px;
          float: left;

          .photo-bar {
            width: 48px;
            height: 48px;
            margin-top: 16px;
            margin-right: 6%;
            float: left;
            position: relative;

            .photo-img {
              width: 48px;
              height: 48px;
              border-radius: 24px;
              overflow: hidden;
            }

            .icon-img {
              position: absolute;
              width: 20px;
              height: 20px;
              bottom: 0px;
              right: -5px;
            }
          }

          > p {
            width: 70%;
            line-height: 80px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .l-tit2 {
          width: 21%;
          line-height: 80px;
          float: left;

          > h5 {
            width: 100%;
            font-size: 14px;
            line-height: 20px;
            padding: 13px 0 13px 0;
            font-weight: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          > p {
            width: 100%;
            font-size: 14px;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          > span {
            display: block;
            width: 100%;
            font-size: 12px;
            line-height: 18px;
            color: $mop-text-gray;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .l-tit3 {
          width: 20%;
          line-height: 80px;
          float: left;
        }

        .l-tit4 {
          width: 12%;
          height: 56px;
          margin-top: 24px;
          float: right;
          text-align: center;

          .xl-bar {
            width: 100px;
            height: 30px;
            cursor: pointer;
            display: inline-block;
            line-height: 30px;
            border: 1px solid #e7e7e7;

            > span {
              width: 66px;
              text-align: center;
              float: left;
              border-right: 1px solid #e7e7e7;
            }
          }
        }
      }

      .l-title {
        height: 50px;
        background: #f5f5f5;

        .check-box {
          height: 50px;

          .el-checkbox {
            margin: 16px 0 0 35%;
          }
        }

        .l-t-tit {
          width: 20%;
          float: left;
          line-height: 50px;
          font-size: 12px;
          color: $mop-text-gray;
        }

        .l-t-tit2 {
          width: 21%;
          float: left;
          line-height: 50px;
          font-size: 12px;
          color: $mop-text-gray;
        }

        .l-t-tit3 {
          width: 12%;
          text-align: center;
          float: right;
          line-height: 50px;
          font-size: 12px;
          color: $mop-text-gray;
        }

        .sort-css {
          span {
            float: left;
          }

          .sort-bar {
            width: 20px;
            height: 22px;
            float: left;
            margin: 15px 0 0 5px;

            .sort-up,
            .sort-down {
              width: 20px;
              height: 10px;
              margin-bottom: 2px;
              cursor: pointer;

              .s-up {
                width: 0px;
                height: 0px;
                border-bottom: 5px solid $mop-text-gray;
                border-top: 5px solid transparent;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;

                &:hover {
                  border-bottom-color: #5db6e4;
                }
              }

              .s-down {
                width: 0px;
                height: 0px;
                border-bottom: 5px solid transparent;
                border-top: 5px solid $mop-text-gray;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;

                &:hover {
                  border-top-color: #5db6e4;
                }
              }

              .sort-up-hover {
                border-bottom-color: #5db6e4;
              }

              .sort-down-hover {
                border-top-color: #5db6e4;
              }
            }
          }
        }
      }
    }
  }

  .list-bottom {
    width: 100%;
    height: 60px;
    background: #fff;

    .page-bar {
      width: 60%;
      margin-top: 16px;
      float: right;
      margin-right: 30px;
      text-align: right;
    }
  }

  ::-webkit-input-placeholder {
    color: #999;
  }

  /* 弹框样式 */
  .batch-content {
    width: 100%;
    text-align: center;

    i {
      color: #ff8a0c;
      margin-right: 5px;
    }

    .is-can-checkbox {
      margin-right: 5px;
    }

    .batch-text {
      text-align: left;
      display: inline-block;

      p {
        margin-bottom: 10px;
      }
    }
  }

  .tags-bar {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

/**单个新增**/
.dialog-footer {
  button {
    width: 80px;
    border-radius: 0;
  }
}

.audience-add-page {
  min-height: 200px;
  max-height: 380px;
  overflow-x: hidden;
  overflow-y: auto;

  .add-tip {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    line-height: 15px;
    color: #ed403c;
    font-size: 12px;
    border: 1px solid #ff8a0c;
    background: #fff3e6;
  }

  .step-bar {
    width: 670px;
    height: 30px;

    .step-num-bar {
      width: 530px;
      height: 30px;
      margin-left: 70px;
      margin-bottom: 10px;

      .step-num {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #34a4dd;
        border-radius: 15px;
        font-size: 14px;
        color: #fff;
      }

      .step-num2 {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #b5b5b5;
        border-radius: 15px;
        font-size: 14px;
        color: #fff;
      }

      .step-line {
        float: left;
        width: 470px;
        height: 1px;
        background: #e7e7e7;
        margin-top: 14.5px;
      }
    }

    .step-text {
      width: 565px;
      height: 20px;
      clear: both;
      margin-left: 50px;

      p:first-child {
        color: #34a4dd;
      }

      .colr {
        color: #34a4dd;
      }
    }
  }
  .step-one2 {
    width: 100%;
    .h30 {
      height: 30px;
      clear: both;
    }
    .el-form-item {
      .el-form-item__content {
        > .el-input {
          width: 420px;

          input {
            border-radius: 0;
          }
        }
        .el-select {
          width: 420px;

          input {
            border-radius: 0;
          }
        }
      }
      .el-form-item__label {
        width: 160px !important;
        text-align: right;
        line-height: 32px;
      }
    }
  }
  .step-one {
    width: 100%;
    padding-top: 30px;
    clear: both;

    li {
      width: 100%;
      min-height: 32px;
      margin-bottom: 30px;

      > label {
        width: 160px;
        text-align: right;
        float: left;
        line-height: 32px;

        > span {
          color: #ed403c;
        }
      }

      .el-select {
        width: 420px;

        input {
          border-radius: 0;
        }
      }

      > .el-input {
        width: 420px;

        input {
          border-radius: 0;
        }
      }

      .el-radio-group {
        margin-top: 8px;
      }

      p {
        width: 420px;
        margin-left: 160px;
        font-size: 12px;
        min-height: 20px;
        padding-top: 5px;
        line-height: 20px;
        color: #ed403c;

        span {
          color: #34a4dd;
        }
      }
    }
  }
}

.batch-add-page {
  min-height: 200px;
  max-height: 530px;
  overflow-x: hidden;
  overflow-y: auto;

  .step-bar {
    width: 670px;
    height: 60px;

    .step-num-bar {
      width: 530px;
      height: 30px;
      margin-left: 70px;
      margin-bottom: 10px;

      .step-num {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #34a4dd;
        border-radius: 15px;
        font-size: 14px;
        color: #fff;
      }

      .step-num2 {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #b5b5b5;
        border-radius: 15px;
        font-size: 14px;
        color: #fff;
      }

      .step-line {
        float: left;
        width: 220px;
        height: 1px;
        background: #e7e7e7;
        margin-top: 14.5px;
      }
    }

    .step-text {
      width: 565px;
      height: 20px;
      clear: both;
      margin-left: 50px;

      p:first-child {
        color: #34a4dd;
      }

      .colr {
        color: #34a4dd;
      }

      .zj {
        float: left;
        margin-left: 200px;
      }
    }
  }

  .add-tip {
    width: 560px;
    margin: 20px 50px;
    clear: both;
    height: 40px;
    line-height: 15px;
    color: #ed403c;
    font-size: 12px;
    border: 1px solid #ff8a0c;
    background: #fff3e6;

    > label {
      width: 75px;
      float: left;
      line-height: 40px;
    }

    .el-select {
      width: 420px;
      margin-top: 4px;

      input {
        border-radius: 0;
      }
    }
  }

  .top-left {
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    color: #34a4dd;
    margin: 10px 10px;
  }

  .upload-bar {
    width: 560px;
    height: 340px;
    background: #f5f5f5;
    border: 1px dashed #e7e7e7;
    margin-left: 50px;

    .el-upload-dragger {
      background-color: #fff;
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 220px;
      height: 200px;
      margin: 25px 170px 0;
      text-align: center;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }

    .el-upload__text {
      p {
        font-size: 12px;
        margin-top: 20px;
      }
    }

    .el-upload__tip {
      text-align: center;
      margin-bottom: 20px;

      a {
        font-size: 12px;
        cursor: pointer;
        text-decoration: none;
        color: $mop-primary;
      }
    }
  }

  .up-bottom {
    width: 560px;
    height: 40px;
    overflow: hidden;
    margin-left: 50px;

    label {
      line-height: 40px;
      margin-right: 40px;
    }
  }

  .confirm-bar {
    width: 560px;
    height: 340px;
    background: #f5f5f5;
    border: 1px solid #e7e7e7;
    margin-left: 50px;
    margin-top: 30px;

    .result-bar {
      width: 220px;
      height: 220px;
      background: #fff;
      border: 1px dashed #e7e7e7;
      margin: 30px 170px 0;

      .fiels-bar {
        margin: 50px 0 20px 86px;

        i {
          font-size: 50px;
          color: #0ab237;
        }
      }

      p {
        text-align: center;
      }
    }

    > p {
      text-align: center;
      margin-top: 35px;
      color: $mop-text-gray;

      span {
        color: #595757;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .set-tag {
    width: 560px;
    margin-left: 50px;
    margin-top: 30px;
  }
}
